<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052217568726-3qnslcquf7g7i8splpp6dgdpbfdmhoqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052217568726-3qnslcquf7g7i8splpp6dgdpbfdmhoqe</string>
	<key>API_KEY</key>
	<string>AIzaSyAVPnzwXJr4-5hy4P0SPxEznKIB69HGmG0</string>
	<key>GCM_SENDER_ID</key>
	<string>1052217568726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umn.Lore</string>
	<key>PROJECT_ID</key>
	<string>lore-93517</string>
	<key>STORAGE_BUCKET</key>
	<string>lore-93517.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052217568726:ios:861dc33b79ad79f72a0877</string>
	<key>DATABASE_URL</key>
	<string>https://lore-93517.firebaseio.com</string>
</dict>
</plist>