<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Friendlist
    </ion-title>
  </ion-toolbar>
</ion-header>





<ion-content class="ion-padding">


  

  <ion-input [(ngModel)]="inputTextSearch" placeholder="Search friend"></ion-input>
  <ion-button expand="full" (click)="searchItem({email:inputTextSearch})">Search</ion-button>
  
  <ng-container *ngIf="search_friends">
  <ion-item >
    <ion-label  class="ion-text-center">Add Friend</ion-label>
  </ion-item>
    <ion-card  *ngFor="let item of search_friends" (click)="addItem(item)">
      <ion-card-header>
        <ion-card-title>{{item.email}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-container>
  

  <ion-item>
    <ion-label class="ion-text-center">List Friend</ion-label>
  </ion-item>
  <ion-card *ngFor="let item of friends" (click)="alert(item)">
    <ion-card-header>
      <!-- <ion-card-subtitle>{{item.email}}</ion-card-subtitle> -->
      <ion-card-title>{{item.email}}</ion-card-title>
    </ion-card-header>
  </ion-card>
 
  
  <!-- <ion-list>
    MYfrined
    <ion-item *ngFor="let item of friends" (click)="editItem(item)">
      {{item.email}}
    </ion-item>
    ADD new friend
    <ion-item *ngFor="let item of search_friends" (click)="addItem(item)">
      {{item.email}}
    </ion-item>
  </ion-list> -->
</ion-content>
