<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/location" (click)="onClear()"></ion-back-button>
      </ion-buttons>
      <ion-title>Add New Location</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-content *ngIf="data">
      <!-- <form [formGroup]="form"> -->
      <ion-button expand="block" routerLink="/location" routerDirection="forward">Get Location</ion-button>
        <ion-grid>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-item>
                <ion-label class="input" position="floating">{{ data.name }}</ion-label>
                <!-- <ion-input type="text"></ion-input> -->
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-item>
                <ion-label class="input" position="floating">{{ data.address }}</ion-label>
                <!-- <ion-input type="text"></ion-input> -->
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-sm="3" offset-sm="3">
              <ion-item>
                <ion-label class="input" position="floating">{{ data.lat }}</ion-label>
                <!-- <ion-input type="text"></ion-input> -->
              </ion-item>
            </ion-col>
            <ion-col size-sm="3" offset-sm="3">
              <ion-item>
                <ion-label class="input" position="floating">{{ data.lng }}</ion-label>
                <!-- <ion-input type="text"></ion-input> -->
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-item>
                <ion-label class="input" position="floating">{{ data.rating }}</ion-label>
                <!-- <ion-input type="text"></ion-input> -->
              </ion-item>
            </ion-col>
            <!-- <ion-col size-sm="3" offset-sm="3">
                <ion-item>
                  <ion-label position="floating" color="medium">{{ data.types }}</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
              </ion-col> -->
          </ion-row>
        </ion-grid>
      <!-- </form> -->
      <ion-button expand="block" (click)="savePlace()" routerDirection="forward">Save Location</ion-button>
    </ion-content>
  </ion-content>