<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSignUp(f)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input
          required
          ngModel
          email
          name="email"
          type="email"
          placeholder="new@example.com"
          #emailCtrl="ngModel"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf = "!emailCtrl.valid && emailCtrl.touched"
        lines="none">
        <ion-label>Invalid e-mail address</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          required
          ngModel
          name="pwd"
          type="password"
          minlength="6"
          placeholder="6-15 alphanumeric characters"
          #pwdCtrl="ngModel"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf = "!pwdCtrl.valid && pwdCtrl.touched"
        lines="none">
        <ion-label>Password too short</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input
          required
          ngModel
          name="confirmPwd"
          type="password"
          minlength="6"
          #confirmpwdCtrl="ngModel"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf = "(confirmpwdCtrl.value != pwdCtrl.value) && confirmpwdCtrl.touched"
        lines="none">
        <ion-label>Password does not match</ion-label>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col size="4"></ion-col>
        <ion-col size="4">
          <ion-button expand="block" color="secondary"
            [disabled]="!f.valid"
            type="submit">Sign Up</ion-button>
        </ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4"></ion-col>
        <ion-col size="4">
          <ion-button expand="block" color='danger' (click)='onCancel()'>Cancel</ion-button>
        </ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
