<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Set Date</ion-label>
      <ion-datetime placeholder="Select Date" [(ngModel)]="inputDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Set Time</ion-label>
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" [(ngModel)]="inputTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Place</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="nes">NES</ion-select-option>
        <ion-select-option value="n64">Nintendo64</ion-select-option>
        <ion-select-option value="ps">PlayStation</ion-select-option>
        <ion-select-option value="genesis">Sega Genesis</ion-select-option>
        <ion-select-option value="saturn">Sega Saturn</ion-select-option>
        <ion-select-option value="snes">SNES</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Friend</ion-label>
      <ion-select interface="popover">
        <ion-select-option *ngFor="let item of friends" value="{{item.email}}">{{item.email}}</ion-select-option>

      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="saveNote({remindDate:inputDate,remindTime:inputTime})">Save</ion-button>
</ion-content>
