<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Set Date</ion-label>
      <ion-datetime placeholder="Select Date" picker-format="DD MMM" [(ngModel)]="inputDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Set Time</ion-label>
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" [(ngModel)]="inputTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Place</ion-label>
      <ion-select interface="popover">
          <ion-select-option *ngFor="let placeitem of Place" [(ngModel)]="inputPlace" value={{placeitem.name}}>{{placeitem.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Friend</ion-label>
      <ion-select interface="popover">
        <ion-select-option *ngFor="let item of friends" [(ngModel)]="inputFriend" value={{item.email}}>{{item.email}}</ion-select-option>

      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="saveNote({remindDate:inputDate,remindPlace:inputPlace,remindTime:inputTime,remindFriend:inputFriend})">Save</ion-button>
</ion-content>
