<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/getlocations" (click)="clearStorage()"></ion-back-button>
    </ion-buttons>
    <ion-title>Location</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <div class="ion-padding">
    <app-location-picker></app-location-picker>
  </div>
</ion-content> -->
<!-- <ion-content>
  <div #mapElement class="map"></div>
</ion-content> -->

<ion-content>
  <form [formGroup]="directionForm">
    <ion-item>
      <input class="input" #autoCompleteInput formControlName="name" />
    </ion-item>
    <ion-button expand="block" routerDirection="forward" (click)="sendDetails()" type="submit">Set Location</ion-button>
  </form>
  <div #mapElement class="map"></div>

  <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name"  class="title"></span><br>
    <span id="place-address"></span>
  </div>

</ion-content>