<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <div class="ion-text-center">
      <ion-title>
          Lore
        </ion-title>
    </div>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list> -->
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="6" *ngFor="let note of notes">

       <ion-card button [routerLink]="['/details', note.key]">
          <ion-card-content>
            {{ note.name }}
            <br><br>
            {{ note.createdAt | date:'dd MMM H:mm a' }}
            <ion-icon slot="end" name="alarm" *ngIf="!note.remindDate"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>