<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <div class="ion-text-center">
      <ion-title>
          Lore
        </ion-title>
    </div>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-start">
      <ion-col size="6" *ngFor="let item of notes"> -->
    <ion-list>
    <ng-container *ngIf="!notes || notes.length == 0">
      <div *ngFor="let n of [0,1,2,3,4,5,6,7,8,9]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>    
      </div>
    </ng-container>

    
      <ion-item-sliding *ngFor="let item of notes">
      <ion-item lines="inset" button [routerLink]="['/details', item.id]">
        <ion-label>
          {{ item.task }}
          <p> {{ item.createdAt | date:'short' }} </p>
        </ion-label>
        <ion-note slot="end" color="primary">{{ item.priority }}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="danger">
          Delete?
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

        <!-- <ion-card button [routerLink]="['/details', item.id]">
          <ion-card-content>
            {{ item.task }}
            <br><br>
            {{ item.createdAt | date:'short' }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
